# Compiler files
cache/
out/
artifacts/
crs/
circuits/crs/
/deployments/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
node_modules

typechain-types
yarn-error.log
